body{
    overflow-x: hidden;
    
}
.img-title{
    border:2px solid black;
    width: 100%;
    height: 700px;;
    margin: 0 auto;
}
.imagen-producto{
    width: 50%;
    height: 600px;
    border:2px solid black;
    margin: 30px;
    float: left;

}
.imagen-producto img{
    width: 300px;
    height: 300px;
    
}
.bloque-datos{
    width: 43%;
    height: 600px;
    border:2px solid black;
    display: flex;
    margin: 30px;
}