body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.todo{
    padding: 0;
}
.todo .cabecera{
    height: 70px;
    background: rgb(109, 104, 104);
}
.todo .cabecera .logo{
    width: 20%;
    display: flex;
    height: 70px;
    float: left;
}
.todo .cabecera .logo img{
    width: 200px;
    height: 60px;
    margin: auto ;
    display: block;
}
.todo .cabecera .buscador{
    width: 200px;
    display: inline-block;

}
.todo .cabecera .foto-perfil1{
    float: right;
    width: 250px;
    display: flex;
    height: 70px;
}
.todo .cabecera .foto-perfil1 img{
    width: 50px;
    margin:  auto;
    border-radius: 100%;
}
.todo .cabecera .foto-perfil1 .logout{
    
}
.todo .bloque-cuerpo{
        display: block;
        margin: 0;
        background: rgb(194, 196, 212);
}
.todo .bloque-cuerpo .bloque-menu{
    width: 20%;
    float: left;
    height: auto;
    background: #2C304D;
    overflow: visible;

}
.todo .bloque-cuerpo .bloque-menu .perfil {
    margin-top: 30px;
    font-size: 18px;
    color:#fff;
}
.todo .bloque-cuerpo .bloque-menu .perfil .foto-perfil img{
      width: 100px;
      margin: auto auto;
      border-radius: 100%;
      text-align: center;
      display: block;

}
.todo .bloque-cuerpo .bloque-menu .perfil .nombre-perfil{
      text-align: center
}
.todo .bloque-cuerpo .bloque-menu .perfil .tools{
    margin: 5px;
    background: rgb(30, 34, 61);
    height: auto;
    display: flex;
}
.todo .bloque-cuerpo .bloque-menu .perfil .tools ul{
    font-size: 50px;
    color:#fff;
}
.todo .bloque-cuerpo .bloque-menu .perfil .tools ul li{
    list-style-type: none;

}
.todo .bloque-cuerpo .bloque-menu .perfil .tools ul li a{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
}
.todo .bloque-cuerpo .content{
    width: 78%;
    height: 800px;
    float: right;
    background: #fff;
    box-sizing: border-box;
}