body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.todo{
    border:2px solid black;
}
.todo .cabecera{
    border:2px solid black;
    height: 70px;
    background: rgb(109, 104, 104);
}
.todo .cabecera .logo{
    width: 24%;
    border:2px solid rgb(216, 5, 5);
    display: flex;
    height: 70px;
    float: left;
}
.todo .cabecera .logo img{
    width: 200px;
    height: 60px;
    margin: auto ;
    display: block;
}
.todo .cabecera .buscador{
    width: 200px;
    display: inline-block;
        border:2px solid rgb(248, 12, 12);

}
.todo .cabecera .foto-perfil1{
    float: right;
    width: 250px;
    border:2px solid black;
    display: flex;
    height: 70px;
}
.todo .cabecera .foto-perfil1 img{
    width: 50px;
    margin:  auto;
    border-radius: 100%;
}
.todo .cabecera .foto-perfil1 .logout{
    
}
.todo .bloque-cuerpo{
        border:2px solid black;
        display: block;
        padding: 0;
}
.todo .bloque-cuerpo .bloque-menu{
    border:2px solid black;
    width: 24%;
    float: left;
    height: 800px;
    margin: 0px;
    background: #6d5a5a;
}
.todo .bloque-cuerpo .bloque-menu .perfil {
    text-align: center;
    border: 2px solid black;
    margin-top: 30px;
}
.todo .bloque-cuerpo .bloque-menu .perfil .foto-perfil img{
      width: 100px;
      margin: 0 auto;
      border-radius: 100%;
      border: 2px solid black;
}
.todo .bloque-cuerpo .content{
    border: 2px solid rgb(240, 9, 9);
    width: 74%;
    height: 800px;
    float: right;
}